.circleci
.git
.github
.gitignore
.elasticbeanstalk
.DS_Store
.env
.env.example

deploy.sh
deploy.example.sh
docker-compose.yml
LICENSE
node_modules
README.md
Dockerrun.aws.json
Dockerrun.example.aws.json
Dockerfile.dev
Dockerfile.prod