| Hello and welcome to #{applicationName} #{user}!
| Your account has already been created, however we require that you set your own password before your account is activated.
| Please click the link below to activate your account:
| #{activationUrl}
| This email was sent from an address that cannot accept incoming email. Please do not reply to this message.