extends layout

block mainContent
  h1 Hello #{user}!
  p A password reset request was sent to this email from #{applicationName}.
  p If you did not request this, please ignore this email.
  p If you did request to reset your password, click the link below:
  p
    a(href=resetUrl, style="font-size: 18px;" target="_blank" rel="noopener noreferrer") #{applicationName}
  p(style="font-style: italic;") This email was sent from an address that cannot accept incoming email. Please do not reply to this message.